{%extends 'base.html'%}

  {%block title%} Inspire {%endblock%}

{%block content%}
<div class="ui secondary pointing menu">
  <a class="item active">
    Home
  </a>
  <a class="item">
      Categories
  </a>
  <div class="right menu">
    <a class="ui item">
        Support us
    </a>
  </div>
</div>



<div class="ui container">
  {% for i in range(all_metadata | length) %}
  {% set metadata = all_metadata[(i + 1) | string] %}
    <div class="ui card">

     
        <video id="player" playsinline controls data-poster="/path/to/poster.jpg" controlslist="nodownload">
          <source src="{{ metadata.download }}" type="video/mp4" />
          <source src="/path/to/video.webm" type="video/webm" />


    </video>

   
    <div class="content">
      <a class="header">{{ metadata.title }}</a>
      <div class="meta">
        <span class="date">Joined in 2013</span>
      </div>
      <div class="description">
        Kristy is an art director living in New York.
      </div>
    </div>
    <div class="extra content">
      <a href="/download?url={{ metadata.download }}" download>
        <i class="download icon"></i>
        Download
      </a>
    </div>
  </div>
    <p>  </p>
  {% endfor %}
</div>


{%endblock%}
